.thumbnail-slider {
   height: 556px;
   padding: 0;
   // box-sizing: border-box; /* Ngăn lỗi kích thước */
}

.thumbnail-slider .swiper-slide {
   border: 2px solid transparent;
   cursor: pointer;
   transition: border 0.3s;
}

.thumbnail-slider .swiper-slide-thumb-active {
   border: 2px solid #ff6600;
}

.thumbnail-slider img {
   width: 128px;
   height: 128px;
   object-fit: cover;
   cursor: pointer;
}

.main-slider {
   width: 496px;
   height: 496px;
   border-radius: 8px;
   padding: 0;
   position: relative;
}

.main-image {
   width: 100%;
   height: 100%;
   object-fit: cover;
}

.prev-btn,
.next-btn {
   top: 50%;
   background-color: rgba(0, 0, 0, 0.2);
   background-color: #fff;
   color: white;
   z-index: 10;
}

.prev-btn {
   left: 10px;
}

.next-btn {
   right: 10px;
}

.MuiIconButton-colorPrimary {
   background-color: #fff !important;
}
