.cart-mini {
  width: 390px;
  padding: 20px;
}

.cart_title {
  font-weight: 500;
  font-size: 1.8rem;
}

.horizontal-line {
  display: flex;
  width: 100%;
  height: 2px;
  background-color: rgb(200, 200, 200);
}

// <-------- Cart-wrap ---------->
.cart_item-wrap {
  height: 381px;
  overflow-y: auto;
}

.cart_item {
  padding: 15px 0 15px 0;
}

.cart_item {
  display: flex;
  align-items: center;
  gap: 20px;
  border-bottom: 1px dotted rgb(172, 171, 171);
  height: auto;
}

.cart_item-image {
  width: 90px;
  height: 90px;
  object-fit: cover;
}

// <-------- Cart-item-detail ---------->
.cart_item-details {
  // max-width: 215px;
}

.cart_item-info {
  display: flex;
  // justify-content: space-around;
}

.cart_item-quantity {
  padding: 1px 6px;
  margin-right: 20px;
  background-color: #f1efef;
}

.cart_item-name,
.cart_item-quantity {
  font-size: 1.3rem;
}

.cart_item-price {
  font-size: 1.4rem;
  font-weight: 700;
  color: #000;
}

.cart_item-name {
  font-weight: 400;
  color: #000;
  cursor: pointer;
  &:hover {
    font-weight: 500;
  }
}

.delete-item {
  font-size: 1.1rem;
  font-weight: 500;
  text-decoration: underline;
  cursor: pointer;
  margin-left: auto;
  margin-right: 10px;
}

// <------------------ Cart-summary ------------------->
.cart-summary {
  margin-top: 15px;
}

.total-amount {
  display: flex;
  justify-content: space-between;
}

.total-label {
  font-size: 1.4rem;
}

.total-price {
  font-size: 1.6rem;
  font-weight: 700;
}

.cart-actions {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}

.btn {
  padding: 3px 28px;
  border: 1px solid #000;
}

.cart-view,
.checkout {
  font-size: 1.2rem;
}

.cart-view {
  background-color: #fff;
  color: #000;
  &:hover {
    border: 1px solid #9d9c9c;
  }
}

.checkout {
  background-color: #000;
  color: #fff;

  &:hover {
    background-color: #424242;
    border: 1px solid #424242;
  }
}
